.data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .graph-bars {
    display: flex;
    gap: 160px;
    justify-content: center;
  }

  .switches {
    display: flex;
    gap: 250px;
    justify-content: center;
  }
  
  .data-item {
    margin: 10px;
    text-align: center;
  }

  .speak-button {
    padding: 10px;
    background-color: #3498db;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .speak-button:hover {
    background-color: #2980b9;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #21f383;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }